body
{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: palevioletred!important;
}
h3,p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-right: 20%;

}
p
{

    margin-top: 20px;

}

.my-profile,.my-profile1
{
    max-width: 100% !important;
    height: auto;
    border-right: solid 1px gray;
}

#btn
{
    width: 200px !important;
    height: auto;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    margin-left: 30%;
    margin-top: 5%;
    color: white;
    font-size: 17px;
}

